/* General Body Styling */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, .footer-text, .bottom-logo-text, .cta p a {
  font-family: 'Montserrat', sans-serif;
}

/* Video Background Styling */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
  z-index: -1;
}

/* Header Styling */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: transparent; /* Allow background video to show through */
  padding: 20px;
  box-sizing: border-box;
}

.social-icons {
  margin-left: auto;
}

.linkedin-icon {
  width: 24px;
  height: 24px;
}

.logo {
  width: 40%;
  max-width: 40px; /* Set a maximum width for the logo */
  height: auto;
}

.logo-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-left: 10px; /* Adjust space between the logo and text */
}

/* Middle Section Styling */
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.middle-text {
  font-size: 1em; /* Adjust font size */
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 25%; /* Position the text 75% up from the bottom */
  transform: translateY(-25%);
  color: white !important;
}

.left-text {
  position: absolute;
  bottom: 15%; /* Adjust to position the text towards the bottom */
  left: 20%; /* Adjust to position the text towards the left side */
  font-size: 1.5em; /* Adjust font size */
  max-width: 800px; /* Set a max-width to control the text width */
  color: white;
  text-align: left;
}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.middle-text span {
  display: inline-block;
  color: white;
  animation: typing 4s steps(40, end);
}


.bottom-section1 {
  width: 100%;
  background-color: white;
  font-weight: bold;
  color: black;
  display: flex;
  min-height: 40vh;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 20px 20px 10px;
  box-sizing: border-box;
}


/* Bottom Section Styling */
.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  min-height: 35vh;
  text-align: center;
}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  margin-bottom: 10px;
}

.bottom-logo {
  width: 40%;
  max-width: 40px; /* Set a maximum width for the bottom logo */
  height: auto;
  margin-bottom: 10px;
}


.bottom-logo-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-left: 10px; /* Adjust space between the logo and text */
}

.bottom-section .cta p a {
  color: white !important; /* Ensure the email link is white */
  text-decoration: none !important; /* Remove underline */
}

.bottom-section .cta p a:hover {
  text-decoration: underline !important; /* Optional: Add underline on hover */
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: black; /* Match with the bottom section */
  color: white;
  width: 100%;
}

.footer-line {
  border: none;
  border-top: 1px solid white; /* Creates the thin white line */
  margin: 0 auto 10px;
  width: 100%; /* Adjust the width as needed */
}

.footer-text {
  font-size: 0.9em;
  color: white;
  text-align: left;
}


/* Footer Styling */
footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0;
  width: 100%;
}

/* Navigation Styling */
nav ul {
  list-style: none;
  display: flex;
  gap: 2px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .logo {
    width: 125px; /* Larger size for larger screens */
  }

  .middle-text {
    font-size: 2.5em; /* Larger font size for larger screens */
  }

  .sub-text {
    font-size: 1.5em; /* Larger font size for larger screens */
  }

  .bottom-logo {
    width: 150px; /* Larger logo size for larger screens */
  }
}

