/* General Body Styling */
body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Video Background Styling */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background-size: cover;
  z-index: -1;
}

/* Header Styling */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: transparent; /* Allow background video to show through */
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 150px; /* Set a maximum width for the logo */
  height: auto;
}

/* Middle Section Styling */
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  text-align: center;
}

.middle-text {
  font-size: 2em; /* Adjust font size */
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white; /* The cursor */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.middle-text span {
  display: inline-block;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

.sub-text {
  font-size: 1em; /* Adjust font size */
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
}

/* Bottom Section Styling */
.bottom-section {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px 10px;
  box-sizing: border-box;
}

.bottom-logo {
  width: 100%;
  max-width: 150px; /* Set a maximum width for the bottom logo */
  height: auto;
  margin-bottom: 10px;
}

.cta {
  margin-bottom: 5px;
}

.cta p {
  margin: 0;
  font-size: 1em;
}

/* Footer Styling */
footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0;
  width: 100%;
}

/* Navigation Styling */
nav ul {
  list-style: none;
  display: flex;
  gap: 2px;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .logo {
    width: 225px; /* Larger size for larger screens */
  }

  .middle-text {
    font-size: 4.5em; /* Larger font size for larger screens */
  }

  .sub-text {
    font-size: 1.5em; /* Larger font size for larger screens */
  }

  .bottom-logo {
    width: 150px; /* Larger logo size for larger screens */
  }
}

