<!DOCTYPE html>
<html>
<head>
  <title>Time Since</title>
</head>
<body class="bg-black text-white text-4xl text-center p-24 sm:p-12 font-mono">
  <span class="great-detox-text">The Great Detox</span>
  <div id="my-data" data-test="<%= @specific_date.strftime('%Y-%m-%dT%H:%M:%S%z') %>"></div>
  <div class="h-48"></div> <!-- Spacer with Tailwind class -->
</body>
</html>

